doctype html
html
  head
    title
      | shopName
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
    link(href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

    // theme-style
    link(href='/stylesheets/style4.css', rel='stylesheet', type='text/css', media='all')

    // //theme-style
    script(src='/javascripts/jquery.min.js')

    // - start-rate--
    script(src='/javascripts/jstarbox.js')
    link(rel='stylesheet', href='/stylesheets/jstarbox.css', type='text/css', media='screen', charset='utf-8')
    script(type='text/javascript').
      jQuery(function() {
        jQuery('.starbox').each(function() {
            var starbox = jQuery(this);
            starbox.starbox({
                average: starbox.attr('data-start-value'),
                changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                ghosting: starbox.hasClass('ghosting'),
                autoUpdateAverage: starbox.hasClass('autoupdate'),
                buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                stars: starbox.attr('data-star-count') || 5
            }).bind('starbox-value-changed', function(event, value) {
                if(starbox.hasClass('random')) {
                    var val = Math.random();
                    starbox.next().text(' '+val);
                    return val;
                }
            })
        });
      });

    // -//End-rate--

  body
    // header
    .header(style="position: relative;")
      .container(style=' position: absolute; background: white; width: 140px; height: 100%; left: 10%; padding: 0px; -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.75); box-shadow: 0px 0px 25px -6px #0490ED;')
        a(href='index.html', style=' position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 90%;')
          img(src='/images/gillette-logo.png', alt='', style=' width: 100%; /* width: -webkit-fill-available; */')

      .header-top
        .container
          .col-sm-5.col-md-offset-2.header-login
            ul
              li
                a(href='login.html') Login
              li
                a(href='register.html') Register
              li
                a(href='checkout.html') Checkout
          .col-sm-5.header-social
            ul
              li
                a(href='#')
                  i
              li
                a(href='#')
                  i.ic1
              li
                a(href='#')
                  i.ic2
              li
                a(href='#')
                  i.ic3
              li
                a(href='#')
                  i.ic4
          .clearfix
      .container
        .head-top
          .col-sm-8.col-md-offset-2.h_menu4
            nav.navbar.nav_bottom(role='navigation')
              // Brand and toggle get grouped for better mobile display
              .navbar-header.nav_2
                button.navbar-toggle.collapsed.navbar-toggle1(type='button', data-toggle='collapse', data-target='#bs-megadropdown-tabs')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              // Collect the nav links, forms, and other content for toggling
              #bs-megadropdown-tabs.collapse.navbar-collapse
                ul.nav.navbar-nav.nav_1
                  li
                    a.color(href=biz_id) Home
                  for category in biz_categories
                      li
                        a.color(href="/prodcategory/"+ category.id) #{category.name}
              // /.navbar-collapse
          .col-sm-2.search-right
            ul.heart
              li
                a(href='wishlist.html')
                  span.glyphicon.glyphicon-heart(aria-hidden='true')
              li
                a.play-icon.popup-with-zoom-anim(href='#small-dialog')
                  i.glyphicon.glyphicon-search
            .cart.box_1
              a(href='checkout.html')
                h3
                  .total
                    span.simpleCart_total
                  img(src='/images/bizYanguImages/cart.png', alt='')
              p
                a.simpleCart_empty(href='javascript:;') Empty Cart
            .clearfix
            // -
            // -pop-up-box--
            link(href='/stylesheets/popuo-box.css', rel='stylesheet', type='text/css', media='all')
            script(src='/javascripts/jquery.magnific-popup.js', type='text/javascript')
            // -//pop-up-box--
            #small-dialog.mfp-hide
              .search-top
                .login-search
                  input(type='submit', value='')
                  input(type='text', value='Search..', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search..';}")
                p Shopin
            script.
              $(document).ready(function() {
              $('.popup-with-zoom-anim').magnificPopup({
              type: 'inline',
              fixedContentPos: false,
              fixedBgPos: true,
              overflowY: 'auto',
              closeBtnInside: true,
              preloader: false,
              midClick: true,
              removalDelay: 300,
              mainClass: 'my-mfp-zoom-in'
              });
              });
            // -
          .clearfix
    // banner
    if active_user == undefined
    else
        p#active-user(style="display:none;") #{active_user}
    .banner(id="activeBiz" bizId=biz_id style='background: linear-gradient(187deg, #00000042 0%, #0000003b 100%), url('+biz_banner+');background-size: cover;')
      .container
        section.rw-wrapper
          h1.rw-sentence
            span #{biz.biz_name}
          p(style="color: white; padding-left: 10px;") Testing homepage layouts, slider, theme option panel, and much more.
    // content
    .content
      .container
        // products
        .content-mid
          h3 Trending Items
          label.line
          .mid-popular
            .col-md-3.item-grid.simpleCart_shelfItem
              .mid-pop
                .pro-img
                  img.img-responsive(src='/images/bizYanguImages/pc.jpg', alt='')
                  .zoom-icon
                    a.picture(href='/images/bizYanguImages/pc.jpg', rel='title')
                      i.glyphicon.glyphicon-search.icon
                    a(href='single.html')
                      i.glyphicon.glyphicon-menu-right.icon
                .mid-1
                  .women
                    .women-top
                      span Women
                      h6
                        a(href='single.html') Sed ut perspiciati
                    .img.item_add
                      a(href='#')
                        img(src='/images/bizYanguImages/ca.png', alt='')
                    .clearfix
                  .mid-2
                    p
                      label $100.00
                      em.item_price $70.00
                    .block
                      .starbox.small.ghosting
                    .clearfix
            .col-md-3.item-grid.simpleCart_shelfItem
              .mid-pop
                .pro-img
                  img.img-responsive(src='/images/bizYanguImages/pc1.jpg', alt='')
                  .zoom-icon
                    a.picture(href='/images/bizYanguImages/pc1.jpg', rel='title')
                      i.glyphicon.glyphicon-search.icon
                    a(href='single.html')
                      i.glyphicon.glyphicon-menu-right.icon
                .mid-1
                  .women
                    .women-top
                      span Women
                      h6
                        a(href='single.html') At vero eos
                    .img.item_add
                      a(href='#')
                        img(src='/images/bizYanguImages/ca.png', alt='')
                    .clearfix
                  .mid-2
                    p
                      label $100.00
                      em.item_price $70.00
                    .block
                      .starbox.small.ghosting
                    .clearfix
            .col-md-3.item-grid.simpleCart_shelfItem
              .mid-pop
                .pro-img
                  img.img-responsive(src='/images/bizYanguImages/pc2.jpg', alt='')
                  .zoom-icon
                    a.picture(href='/images/bizYanguImages/pc2.jpg', rel='title')
                      i.glyphicon.glyphicon-search.icon
                    a(href='single.html')
                      i.glyphicon.glyphicon-menu-right.icon
                .mid-1
                  .women
                    .women-top
                      span Men
                      h6
                        a(href='single.html') Sed ut perspiciati
                    .img.item_add
                      a(href='#')
                        img(src='/images/bizYanguImages/ca.png', alt='')
                    .clearfix
                  .mid-2
                    p
                      label $100.00
                      em.item_price $70.00
                    .block
                      .starbox.small.ghosting
                    .clearfix
            .col-md-3.item-grid.simpleCart_shelfItem
              .mid-pop
                .pro-img
                  img.img-responsive(src='/images/bizYanguImages/pc3.jpg', alt='')
                  .zoom-icon
                    a.picture(href='/images/bizYanguImages/pc3.jpg', rel='title')
                      i.glyphicon.glyphicon-search.icon
                    a(href='single.html')
                      i.glyphicon.glyphicon-menu-right.icon
                .mid-1
                  .women
                    .women-top
                      span Women
                      h6
                        a(href='single.html') On the other
                    .img.item_add
                      a(href='#')
                        img(src='/images/bizYanguImages/ca.png', alt='')
                    .clearfix
                  .mid-2
                    p
                      label $100.00
                      em.item_price $70.00
                    .block
                      .starbox.small.ghosting
                    .clearfix
            .clearfix
          .mid-popular
            .col-md-3.item-grid.simpleCart_shelfItem
              .mid-pop
                .pro-img
                  img.img-responsive(src='/images/bizYanguImages/pc4.jpg', alt='')
                  .zoom-icon
                    a.picture(href='/images/bizYanguImages/pc4.jpg', rel='title')
                      i.glyphicon.glyphicon-search.icon
                    a(href='single.html')
                      i.glyphicon.glyphicon-menu-right.icon
                .mid-1
                  .women
                    .women-top
                      span Men
                      h6
                        a(href='single.html') On the other
                    .img.item_add
                      a(href='#')
                        img(src='/images/bizYanguImages/ca.png', alt='')
                    .clearfix
                  .mid-2
                    p
                      label $100.00
                      em.item_price $70.00
                    .block
                      .starbox.small.ghosting
                    .clearfix
            .col-md-3.item-grid.simpleCart_shelfItem
              .mid-pop
                .pro-img
                  img.img-responsive(src='/images/bizYanguImages/pc5.jpg', alt='')
                  .zoom-icon
                    a.picture(href='/images/bizYanguImages/pc5.jpg', rel='title')
                      i.glyphicon.glyphicon-search.icon
                    a(href='single.html')
                      i.glyphicon.glyphicon-menu-right.icon
                .mid-1
                  .women
                    .women-top
                      span Men
                      h6
                        a(href='single.html') Sed ut perspiciati
                    .img.item_add
                      a(href='#')
                        img(src='/images/bizYanguImages/ca.png', alt='')
                    .clearfix
                  .mid-2
                    p
                      label $100.00
                      em.item_price $70.00
                    .block
                      .starbox.small.ghosting
                    .clearfix
            .col-md-3.item-grid.simpleCart_shelfItem
              .mid-pop
                .pro-img
                  img.img-responsive(src='/images/bizYanguImages/pc6.jpg', alt='')
                  .zoom-icon
                    a.picture(href='/images/bizYanguImages/pc6.jpg', rel='title')
                      i.glyphicon.glyphicon-search.icon
                    a(href='single.html')
                      i.glyphicon.glyphicon-menu-right.icon
                .mid-1
                  .women
                    .women-top
                      span Women
                      h6
                        a(href='single.html') At vero eos
                    .img.item_add
                      a(href='#')
                        img(src='/images/bizYanguImages/ca.png', alt='')
                    .clearfix
                  .mid-2
                    p
                      label $100.00
                      em.item_price $70.00
                    .block
                      .starbox.small.ghosting
                    .clearfix
            .col-md-3.item-grid.simpleCart_shelfItem
              .mid-pop
                .pro-img
                  img.img-responsive(src='/images/bizYanguImages/pc7.jpg', alt='')
                  .zoom-icon
                    a.picture(href='/images/bizYanguImages/pc7.jpg', rel='title')
                      i.glyphicon.glyphicon-search.icon
                    a(href='single.html')
                      i.glyphicon.glyphicon-menu-right.icon
                .mid-1
                  .women
                    .women-top
                      span Men
                      h6
                        a(href='single.html') Sed ut perspiciati
                    .img.item_add
                      a(href='#')
                        img(src='/images/bizYanguImages/ca.png', alt='')
                    .clearfix
                  .mid-2
                    p
                      label $100.00
                      em.item_price $70.00
                    .block
                      .starbox.small.ghosting
                    .clearfix
            .clearfix
        // //products
        // brand
        .brand
          .col-md-3.brand-grid
            img.img-responsive(src='/images/bizYanguImages/ic.png', alt='')
          .col-md-3.brand-grid
            img.img-responsive(src='/images/bizYanguImages/ic1.png', alt='')
          .col-md-3.brand-grid
            img.img-responsive(src='/images/bizYanguImages/ic2.png', alt='')
          .col-md-3.brand-grid
            img.img-responsive(src='/images/bizYanguImages/ic3.png', alt='')
          .clearfix

    .footer
        .footer-middle
          .container
            .col-md-3.footer-middle-in
              a(href='index.html')
                img(src='/images/bizYanguImages/log.png', alt='')
              p
                | Suspendisse sed accumsan risus. Curabitur rhoncus, elit vel tincidunt elementum, nunc urna tristique nisi, in interdum libero magna tristique ante. adipiscing varius. Vestibulum dolor lorem.
            .col-md-3.footer-middle-in
              h6 Information
              ul.in
                li
                  a(href='404.html') About
                li
                  a(href='contact.html') Contact Us
                li
                  a(href='#') Returns
                li
                  a(href='contact.html') Site Map
              ul.in.in1
                li
                  a(href='#') Order History
                li
                  a(href='wishlist.html') Wish List
                li
                  a(href='login.html') Login
              .clearfix
            .col-md-3.footer-middle-in
              h6 Tags
              ul.tag-in
                li
                  a(href='#') Lorem
                li
                  a(href='#') Sed
                li
                  a(href='#') Ipsum
                li
                  a(href='#') Contrary
                li
                  a(href='#') Chunk
                li
                  a(href='#') Amet
                li
                  a(href='#') Omnis
            .col-md-3.footer-middle-in
              h6 Newsletter
              span Sign up for News Letter
              form
                input(type='text', value='Enter your E-mail', onfocus="this.value='';", onblur="if (this.value == '') {this.value ='Enter your E-mail';}")
                input(type='submit', value='Subscribe')
            .clearfix
        .footer-bottom
          .container
            ul.footer-bottom-top
              li
                a(href='#')
                  img.img-responsive(src='/images/bizYanguImages/f1.png', alt='')
              li
                a(href='#')
                  img.img-responsive(src='/images/bizYanguImages/f2.png', alt='')
              li
                a(href='#')
                  img.img-responsive(src='/images/bizYanguImages/f3.png', alt='')
            p.footer-class
              | © 2016 Shopin. All Rights Reserved | Design by
              a(href='http://w3layouts.com/', target='_blank') W3layouts
            .clearfix
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='/javascripts/simpleCart.min.js')
        // slide
        script(src='/javascripts/bootstrap.min.js')
        // light-box-files
        script(src='/javascripts/jquery.chocolat.js')
        link(rel='stylesheet', href='/stylesheets/chocolat.css', type='text/css', media='screen', charset='utf-8')
        // light-box-files
        script(type='text/javascript', charset='utf-8').
          $(function() {
          $('a.picture').Chocolat();
          });
