extends layout

block content
  div(class="row bizYanguBanner")
    div(class="centerBannerDiv")
      h1 Welcome to BizYangu
      p(style="color:white;") A Multi-Tenant E-commerce Site.
      a(href="/profile" class="waves-effect waves-light btn whitebutton") get started

  div(class="row aboutSection")
    div(class="col s12 m4")
      h4(style="font-weight: bold;") About Us
      h5 Transform Customer Experiences

      h6 Remember good design always means good business...
      p - Deliver an irresistible, seamless shopping experience at every touchpoint with BizYangu
      p - BizYangu is so agile and user-friendly, you can launch your site quickly and smoothly, adapt to market needs in real time
    div(class="col s12 m8")
      img(src="../images/bizYanguImages/banner.jpg" class="card-panel teal" id="imageCard1")
      img(src="../images/bizYanguImages/banner1.jpg" class="card-panel teal" id="imageCard2")
      img(src="../images/bizYanguImages/about4.jpg" class="card-panel teal" id="imageCard3")

  div(class="row popularShops")
    h5(styel="text-align: center; font-size: 2.28em; font-weight: bold; padding-bottom: 30px;") Popular Shops
    div(class="row")
      ul(class="row")
        a(class="listBiz col s12 m6 l3")
          div(class="card")
              div(class="listBizImg")
              div(style="padding:10px;")
                  div(class="listBizTitle" style="color: #FF7F21; font-weight: bold; font-size: 1.2em;") Lorem Ipsum
                  div(class="listBizSlogan" style="color: #54595f;") Lorem ipsum dolor sit amet, consectetur adipiscing elit
        a(class="listBiz col s12 m6 l3")
          div(class="card")
              div(class="listBizImg")
              div(style="padding:10px;")
                  div(class="listBizTitle" style="color: #FF7F21; font-weight: bold; font-size: 1.2em;") Lorem Ipsum
                  div(class="listBizSlogan" style="color: #54595f;") Lorem ipsum dolor sit amet, consectetur adipiscing elit
        a(class="listBiz col s12 m6 l3")
          div(class="card")
              div(class="listBizImg")
              div(style="padding:10px;")
                  div(class="listBizTitle" style="color: #FF7F21; font-weight: bold; font-size: 1.2em;") Lorem Ipsum
                  div(class="listBizSlogan" style="color: #54595f;") Lorem ipsum dolor sit amet, consectetur adipiscing elit
        a(class="listBiz col s12 m6 l3")
          div(class="card")
              div(class="listBizImg")
              div(style="padding:10px;")
                  div(class="listBizTitle" style="color: #FF7F21; font-weight: bold; font-size: 1.2em;") Lorem Ipsum
                  div(class="listBizSlogan" style="color: #54595f;") Lorem ipsum dolor sit amet, consectetur adipiscing elit

  div(class="row registerShop")
    h5 Get Started
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a(href="/profile" class="waves-effect waves-light btn whitebutton") start

  if error
    p Error getting dynamic content.
  else
      //li #[strong Products:] !{data.product_count}
      //li #[strong Registered Businesses:] !{data.biz_count}
      //li #[strong Categories:] !{data.category_count}
      //li #[strong Users:] !{data.user_count}
      //li #[strong Product Categories:] !{data.prodcategory_count}
