doctype html
html
  head
    title
      | shopName
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
    link(href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

    // theme-style
    link(href='/stylesheets/style4.css', rel='stylesheet', type='text/css', media='all')

    // //theme-style
    script(src='/javascripts/jquery.min.js')

    // -//End-rate--

  body
    // header
    .header(style="position: relative;border-bottom: solid #e6e6e6 1px;")
      a.container(href='/biz/' + active_biz._id, style=' position: absolute; background: white; width: 140px; height: 100%; left: 10%; padding: 0px; -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.75); box-shadow: 0px 0px 25px -6px #0490ED;')
        div(style='background: url(/uploads/' + active_biz.biz_logo + '); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; height: 100%; width: 100%;')


      .header-top
        .container
          .col-sm-5.col-md-offset-2.header-login
            ul
                if(user == false)
                  li
                    a(href='/auth/google') Login
                  li
                    a(href='/auth/google') Register
                else
                    li
                        a(href='/logout') Logout
          .col-sm-5.header-social
            ul
              li
                a(href='#')
                  i
              li
                a(href='#')
                  i.ic1
              li
                a(href='#')
                  i.ic2
              li
                a(href='#')
                  i.ic3
              li
                a(href='#')
                  i.ic4
          .clearfix
      .container
        .head-top
          .col-sm-8.col-md-offset-2.h_menu4
            nav.navbar.nav_bottom(role='navigation')
              // Brand and toggle get grouped for better mobile display
              .navbar-header.nav_2
                button.navbar-toggle.collapsed.navbar-toggle1(type='button', data-toggle='collapse', data-target='#bs-megadropdown-tabs')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              // Collect the nav links, forms, and other content for toggling
              #bs-megadropdown-tabs.collapse.navbar-collapse
                ul.nav.navbar-nav.nav_1
                  li
                    a.color(href="/biz/" + biz_id) Home
                  for category in bizs_categories
                      li
                        a.color(href="/biz/" + active_biz._id  + "/prodcategory/"+ category.id) #{category.name}
              // /.navbar-collapse
          .col-sm-2.search-right
            ul.heart
              li
                a(href='wishlist.html')
                  span.glyphicon.glyphicon-heart(aria-hidden='true')
              li
                a.play-icon.popup-with-zoom-anim(href='#small-dialog')
                  i.glyphicon.glyphicon-search
            .cart.box_1
              a(href='checkout.html')
                h3
                  .total
                    span.simpleCart_total
                  img(src='/images/bizYanguImages/cart.png', alt='')
              p
                a.simpleCart_empty(href='javascript:;') Empty Cart
            .clearfix
            // -
            // -pop-up-box--
            link(href='/stylesheets/popuo-box.css', rel='stylesheet', type='text/css', media='all')
            script(src='/javascripts/jquery.magnific-popup.js', type='text/javascript')
            // -//pop-up-box--
            #small-dialog.mfp-hide
              .search-top
                .login-search
                  input(type='submit', value='')
                  input(type='text', value='Search..', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search..';}")
                p Shopin
            script.
              $(document).ready(function() {
              $('.popup-with-zoom-anim').magnificPopup({
              type: 'inline',
              fixedContentPos: false,
              fixedBgPos: true,
              overflowY: 'auto',
              closeBtnInside: true,
              preloader: false,
              midClick: true,
              removalDelay: 300,
              mainClass: 'my-mfp-zoom-in'
              });
              });
            // -
          .clearfix
    // banner
    .single
      .container
        .col-md-9
          .col-md-5.grid
            .flexslider
              ul.slides
                li(data-thumb='images/si.jpg')
                  .thumb-image
                    img.img-responsive(src='/uploads/' + product.product_pic , data-imagezoom='true')
          .col-md-7.single-top-in
            .span_2_of_a1.simpleCart_shelfItem
              h3 #{product.product_name}
              p.in-para  #{product.summary}
              .price_single
                span.reducedfrom.item_price Ksh #{product.product_price}
                a(href='#') click for offer
                .clearfix
              h4.quick Quick Overview:
              p.quick_desc
                | Description about the item should be added to the backend
              .wish-list
                ul
                  li.wish
                    a(href='#')
                      span.glyphicon.glyphicon-check(aria-hidden='true')
                      | Add to Wishlist
                  li.compare
                    a(href='#')
                      span.glyphicon.glyphicon-resize-horizontal(aria-hidden='true')
                      | Add to Compare
              .quantity
                .quantity-select
                  .entry.value-minus  
                  .entry.value
                    span 1
                  .entry.value-plus.active  
              // quantity
              script.
                $('.value-plus').on('click', function(){
                var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
                divUpd.text(newVal);
                });
                $('.value-minus').on('click', function(){
                var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
                if(newVal>=1) divUpd.text(newVal);
                });
              // quantity
              button.add-to.item_add.makeOrder(href='#' style="background: #049BFF; color: white; padding: 10px 20px; border-radius: 3px; text-transform: uppercase; font-size: 0.9em;") Add to cart
              .clearfix
          .clearfix
          //
          .tab-head
            nav.nav-sidebar
              ul.nav.tabs
                li.active
                  a(href='#tab1', data-toggle='tab') Product Description
                li
                  a(href='#tab2', data-toggle='tab') Reviews
            .tab-content.one
              #tab1.tab-pane.active.text-style
                .facts
                  p #{product.summary}
              #tab2.tab-pane.text-style
                .facts
                  p
                    | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                  ul
                    li
                      span.glyphicon.glyphicon-ok(aria-hidden='true')
                      | Multimedia Systems
                    li
                      span.glyphicon.glyphicon-ok(aria-hidden='true')
                      | Digital media adapters
                    li
                      span.glyphicon.glyphicon-ok(aria-hidden='true')
                      | Set top boxes for HDTV and IPTV Player
            .clearfix
          //
          // -
        .col-md-3.productPageBizCategories
            h5(style="font-size: 1.2em; padding: 10px 0px;") Categories
            ul
                for category in bizs_categories
                    li
                        a(href="/biz/" + active_biz._id  + "/prodcategory/"+ category.id style="color: black;") - #{category.name}
      // brand
      .container
        .brand
          .col-md-3.brand-grid
            img.img-responsive(src='images/ic.png', alt='')
          .col-md-3.brand-grid
            img.img-responsive(src='images/ic1.png', alt='')
          .col-md-3.brand-grid
            img.img-responsive(src='images/ic2.png', alt='')
          .col-md-3.brand-grid
            img.img-responsive(src='images/ic3.png', alt='')
          .clearfix
      // //brand
      // //content
      // //footer
      .footer
        .footer-middle
          .container
            .col-md-3.footer-middle-in
              a(href='index.html')
                img(style="width: 100px; display: block; margin-left: auto; margin-right: auto;" src='/uploads/' + active_biz.biz_logo, alt='')
              p
                | Suspendisse sed accumsan risus. Curabitur rhoncus, elit vel tincidunt elementum, nunc urna tristique nisi, in interdum libero magna tristique ante. adipiscing varius. Vestibulum dolor lorem.
            .col-md-3.footer-middle-in
              h6 Information
              ul.in
                li
                  a(href='404.html') About
                li
                  a(href='contact.html') Contact Us
                li
                  a(href='#') Returns
                li
                  a(href='contact.html') Site Map
              ul.in.in1
                li
                  a(href='#') Order History
                li
                  a(href='wishlist.html') Wish List
                li
                  a(href='login.html') Login
              .clearfix
            .col-md-3.footer-middle-in
              h6 Tags
              ul.tag-in
                for category in bizs_categories
                    li
                      a(href="/biz/" + active_biz._id  + "/prodcategory/"+ category.id) #{category.name}
            .col-md-3.footer-middle-in
              h6 Newsletter
              span Sign up for News Letter
              form
                input(type='text', value='Enter your E-mail', onfocus="this.value='';", onblur="if (this.value == '') {this.value ='Enter your E-mail';}")
                input(type='submit', value='Subscribe')
            .clearfix
        .footer-bottom
          .container
            ul.footer-bottom-top
              li
                a(href='#')
                  img.img-responsive(src='images/f1.png', alt='')
              li
                a(href='#')
                  img.img-responsive(src='images/f2.png', alt='')
              li
                a(href='#')
                  img.img-responsive(src='images/f3.png', alt='')
            p.footer-class
              | © 2018
              a(href='/', target='_blank' style="padding-left: 10px;") BizYangu
              span(style="padding-left: 10px;") All Rights Reserved
            .clearfix
      // //footer
      script(src='/javascripts/gloabal.js')
      script(src='/javascripts/productDetail.js')
      script(src='/javascripts/imagezoom.js')
      // jQuery (necessary for Bootstrap's JavaScript plugins)
      script(defer='', src='/javascripts/jquery.flexslider.js')
      link(rel='stylesheet', href='/stylesheets/flexslider.css', type='text/css', media='screen')
      script.
        // Can also be used with $(document).ready()
        $(window).load(function() {
        $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails"
        });
        });
      // slide
      script(src='/javascripts/bootstrap.min.js')
